{% extends "base.html" %}

{% block title %}{{ SITENAME }} - About{% endblock %}

{% block content %}
<section id="content">
    <div style="margin-top: 20px;">
        Hi,
        <br>
        <br>
        I've been passionate about computers and software for as long as I can remember. 
        My journey has led me to focus on building software and AI to address the challenges of tomorrow.
        I believe technology has made the world more connected, fair, and equal than ever before.
        I'm excited to contribute to this ongoing transformation. Through this blog, I'll be sharing my experiences, thoughts, and ideas. I'm glad to have you here—feel free to reach out for a chat or if you have any questions.
    </div>

</section>
{% endblock %}