{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <div class="entry">
    <div class="entry-content">
      {{ article.content }}
    </div>
    <ul class="entry-meta">
      <li style="display: flex;">
        <div style="font-weight: bold;">
          Read:
        </div>
        <div style="margin-left: auto;">
          {{ article.read }}
        </div>
      </li>
      <li style="display: flex;">
        <div style="font-weight: bold;">
          Date:
        </div>
        <div style="margin-left: auto;">
          {{ article.date.strftime('%d %B %Y') }}
        </div>
      </li>
      <li style="display: flex;">
        <div style="font-weight: bold;">
          Category:
        </div>
        <div style="margin-left: auto;">
          <a href="{{ SITEURL }}/category/{{ article.category }}">{{ article.category }}</a>
        </div>
      </li>
    </div>
  </div>
</section>
{% endblock %}