body {
  font-family: monospace;
  font-size: 18px;
  background-color: #0d1117;
  color: #fff;
  display: block;
  margin: 0px;
}

a:link    { color: #58a6ff; text-decoration: none;      }
a:hover   { color: #58a6ff; text-decoration: underline; }
a:visited { color: #58a6ff;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#banner {
    border-bottom: 1px solid #21262d;
    padding: 10px;
}
#banner #title {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
#subtitle {
    max-width: 900px;
    margin: auto;
    padding: 0px;
    font-size: 14px;
}
#categories {
    margin-left: auto;
}
h1 {
    margin: 0px;
}
#menu li {
    display: inline;
}

#content {
    margin-top: 10px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    line-height: 1.7;
}
#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
    list-style-type: none;
    padding: 0px;
    padding-bottom: 10px;

}
#post-list li:not(:last-child) {
    border-bottom: 1px solid #21262d
}

pre {
    margin: 2em 1em 2em 4em;
    white-space: pre-wrap;
}

.social-links {
    margin-top: 10px; 
    display: flex;
}

.social-link {
    margin-right: 10px;
}
.entry-content blockquote {
    margin: 0px;
}

#contentinfo {
    max-width: 900px;
    margin: auto;
    padding: 10px
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
  }
