body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    color: #000000;
    display: block;
    margin: 0px;
}

a:link {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    color: #58a6ff;
    text-decoration: underline;
}

a:visited {
    color: #58a6ff;
}

h1 a {
    color: inherit !important
}

h2 a {
    color: inherit !important
}

h3 a {
    color: inherit !important
}

h4 a {
    color: inherit !important
}

h5 a {
    color: inherit !important
}

h6 a {
    color: inherit !important
}

#banner {
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
}

#banner #title {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#subtitle {
    max-width: 900px;
    margin: auto;
    padding: 0px;
    font-size: 14px;
}

#categories {
    margin-left: auto;
}

h1 {
    margin: 0px;
}

#menu li {
    display: inline;
}

#content {
    margin-top: 10px;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    line-height: 1.7;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
    list-style-type: none;
    padding: 0px;
    padding-bottom: 10px;

}

#post-list li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
}

pre {
    margin: 2em 1em 2em 4em;
    white-space: pre-wrap;
}

.social-links {
    margin-top: 10px;
    display: flex;
}

.social-link {
    margin-right: 10px;
}

.entry {
    display: grid;
    grid-template-columns: 70% 30%;
}

.entry-content {
    font-size: 16px;
}
.related {
    margin-top: 45px;
}

.related-posts {
    list-style-type: none;
    padding: 0px;
}

.related-posts li {
    padding: 5px 0px;
}

.entry-content blockquote {
    font: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

#contentinfo {
    max-width: 900px;
    margin: auto;
    padding: 10px
}

img {
    max-width: 600px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.mosaic-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.tile {
    position: relative;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3) {
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
    grid-column: span 3;
}

.enlarge-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: fit-content;
    color: white;
}

.enlarge-button:hover {
    cursor: pointer;
}

.enlarge-button svg {
    display: block;
    width: 23px;
    height: 23px;
}

#nav-menu {
    margin-left: auto;
    display: flex;
}

#mobile-nav-options {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c1c1c1;
}

#mobile-nav-options a {
    display: block;
    padding: 10px;
    color: #000;
}

#nav-menu a {
    padding: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#mobile-nav-menu {
    display: none;
    margin-left: auto;
}
#menu-btn:hover {
    cursor: pointer;
}




@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
    .entry {
        grid-template-columns: 100%;
    }
    .entry-meta {
        display: none;
    }
    #mobile-nav-menu {
      display: block;
    }

    img {
        width: 100%;
    }
  
    #nav-menu {
      display: none;
    }
}
